.cube-container {
  position: relative;
  height: 400px;
  width: 100%;
  text-align: center;
  max-width: 600px;

  // .cube {
  //   position: absolute;
  //   top: -22vh;

  //   @include desktop {
  //     top: 0;
  //   }
  // }
}
