<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Austin Bentley</title>
    <link rel="stylesheet" href="slider.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="slider.js"></script>

  </head>
  <body>

  	<div id="Background">
  		<div id="container">
  			<button id="Next" >Next</button>
  			<button id="Prev" >Prev</button>
  			<ul class = "slides">
	  			<li class="slide">
	  				<div class = "words">
		  				<h1>HP Laptops</h1>
		  				<p>Featured essential bussiness laptops</p>
	  				</div>
	  				<div class="computer">
	  					<img src="./laptops1.jpg">
	  				</div>
	  			</li>
	  			<li class="slide">
	  				<div class = "words">
		  				<h1>Asus ZenBook 3</h1>
		  				<p>Best laptop of 2017</p>
	  				</div>
	  				<div class="computer">
	  					<img src="./laptops2.jpg">
	  				</div>
	  			</li>
	  			<li class="slide">
	  				<div class = "words">
		  				<h1>Color 2044</h1>
		  				<p>I dont know what type of laptops these are</p>
	  				</div>
	  				<div class="computer">
	  					<img src="./laptops3.jpg">
	  				</div>
	  			</li>
	  			<li class="slide">
	  				<div class = "words">
		  				<h1>Best Laptops 2017</h1>
		  				<p>PCMAG's list of their favorite laptops for 2017 and why</p>
	  				</div>
	  				<div class="computer">
	  					<img src="./laptops4.jpg">
	  				</div>
	  			</li>
	  			<li class="slide">
	  				<div class = "words">
		  				<h1>HP Laptops</h1>
		  				<p>Featured essential bussiness laptops</p>
	  				</div>
	  				<div class="computer">
	  					<img src="./laptops1.jpg">
	  				</div>
	  			</li>

	  		</ul>
  		</div>
  	</div>
  	<h1 id="title">Something About computers</h1>





  </body>
</html>