@import "../../includes.scss";

.projects-section {
  .title {
    color: $white;
    background: linear-gradient(to top, $red 40%, transparent 40%);
    text-align: right;
    margin-left: auto;
    padding-right: 6px;
    margin-bottom: 60px;
  }

  .projects {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    margin: 42px 0 42px 0;
  }
}
