$red: #fb203b;
$blue: #2cfcfd;
$bg-dark: #0e0e0e;
$body-font: #212121;
$icon: #525252;
$white: #fff;
$border-soft: #e6e6e6;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-lg-width: 1320px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-lg {
  @media (min-width: #{$desktop-lg-width}) {
    @content;
  }
}
